
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1220;
}

html, body {
  background-color: var(--bg);
  color: rgb(226 232 240); /* slate-200 */
}

.gradient-halo-1 {
  position: absolute;
  height: 60vh;
  width: 60vw;
  border-radius: 9999px;
  filter: blur(48px);
  opacity: .4;
  background: radial-gradient(ellipse at center, rgba(0,153,255,.55), rgba(0,0,0,0));
}

.gradient-halo-2 {
  position: absolute;
  height: 50vh;
  width: 50vw;
  border-radius: 9999px;
  filter: blur(48px);
  opacity: .4;
  background: radial-gradient(ellipse at center, rgba(0,255,255,.35), rgba(0,0,0,0));
}

.gradient-halo-3 {
  position: absolute;
  height: 35vh;
  width: 90vw;
  filter: blur(32px);
  opacity: .4;
  background: linear-gradient(90deg, rgba(0,153,255,.25), rgba(0,255,255,.25));
}
